.container {
  background-color: rgb(6, 20, 44);
  font-family: sans-serif;
  line-height: 28px;
  font-size: 20px;
  height: 1000px;
}

.h3 {
  color: #b6bdf7;
  text-align: left;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: medium;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
}

.paragraph {
  color: rgb(213, 215, 183);
  text-align: left;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: x-small;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
  text-decoration: none;
}

.h6 {
  color: rgb(250 204 21);
  text-align: left;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: small;
  justify-content: space-between;
}

.li {
  color: rgb(213, 215, 183);
  text-align: left;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: x-small;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
  text-decoration: none;
  list-style-type: disc; /* This is the default setting for dots */
  margin-left: 20px;
}
.contactButton {
  color: rgb(250 204 21);
  text-align: left;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: small;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
}

.p {
  color: #b6bdf7;
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: small;
  justify-content: space-between;
  cursor: pointer;
}
